# Series manipulation

In [1]:
import numpy as np
import pandas as pd

In [3]:
#we can give our own index name 
ser1 = pd.Series(data = [1,2,3,4,] , index = ['CA' , 'OR' , 'KA' , 'AZ'])

In [4]:
ser1

CA    1
OR    2
KA    3
AZ    4
dtype: int64

In [5]:
print("\nIndexing by the name of item/object(string identifier)\n" , '-'*56 , sep='')
print("value for 'CA' in ser1:" ,ser1['CA'])
print("value for 'AZ' in ser1:" , ser1['AZ'])

Indexing by the name of item/object(string identifier)
--------------------------------------------------------
value for 'CA' in ser1: 1
value for 'AZ' in ser1: 4

In [6]:
#you can also fetch the elements by its index position
print("\nIndexing by number (positional value in the series)\n" ,'-' * 52  , sep = '')
print("value for CA in ser1:" , ser1[0]) #the series still have hidden index number
print("value for AZ in ser1:" , ser1[3])

Indexing by number (positional value in the series)
----------------------------------------------------
value for CA in ser1: 1
value for AZ in ser1: 4

In [7]:
ser1

CA    1
OR    2
KA    3
AZ    4
dtype: int64

In [9]:
print("\nIndexing by a range \n", '-'*52 , sep='')#same as we did in tuple in python
print("value for OR,KA,AZ in the ser1:\n",ser1[1:4])

Indexing by a range
----------------------------------------------------
value for OR,KA,AZ in the ser1:
 OR    2
KA    3
AZ    4
dtype: int64

In [13]:
ser1 = pd.Series([1,2,3,4,10] , ['CA' , 'OR' , 'CO' , 'AZ', 'NV'])
ser2 = pd.Series([1,2,5,4,30] , ['CA' , 'OR' ,'NV' , 'PA' , 'CO'])

In [14]:
print('ser1\n' , ser1)
print('*' * 20)
print('ser2\n' , ser2)

ser1
 CA     1
OR     2
CO     3
AZ     4
NV    10
dtype: int64
********************
ser2
 CA     1
OR     2
NV     5
PA     4
CO    30
dtype: int64

In [15]:
#lets add both series 
ser3 = ser1 + ser2 
print("\n after adding the two series the result will look like this....\n",'-' * 50)

print(ser3)
print("\npython tries to add values where it finds same index name , and keeps NAn where indicies are not same")

 after adding the two series the result will look like this....
 --------------------------------------------------
AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

python tries to add values where it finds same index name , and keeps NAn where indicies are not same

similarly we can do add sub and multiplication and all other operation

In [17]:
#guve nan values for not same indicies

In [18]:
ser4 = ser1 * ser2 
ser4

AZ     NaN
CA     1.0
CO    90.0
NV    50.0
OR     4.0
PA     NaN
dtype: float64

# Dataframe manipulation

In [19]:
import pandas as pd 
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [21]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels =  ['Raju' , 'Pandey' , 'Srini' , 'Sunil' , 'Ashok']
column_headings = ['Age ' , 'Height' , 'Weight']

In [22]:
df = pd.DataFrame(data = matrix_data , index = row_labels , columns = column_headings)

print("\nA new dataframe\n"  , '-'*25 , sep='')
print(df)

A new dataframe
-------------------------
        Age   Height  Weight
Raju      22      66     140
Pandey    42      70     148
Srini     30      62     125
Sunil     35      68     160
Ashok     25      62     152

In [24]:
print("\n The 'height' column\n" , '-'*25 , sep='')
print(df['Height'])

 The 'height' column
-------------------------
Raju      66
Pandey    70
Srini     62
Sunil     68
Ashok     62
Name: Height, dtype: int32

In [25]:
print("\n Height and Weight columns indexing by passing a list\n" , '-'*50 , sep='')
print(df[['Height' , 'Weight']])

 Height and Weight columns indexing by passing a list
--------------------------------------------------
        Height  Weight
Raju        66     140
Pandey      70     148
Srini       62     125
Sunil       68     160
Ashok       62     152

In [27]:
#giving the information of height and weight to a certain varaible.
only_ht_wt = df[['Height' , 'Weight']]

In [28]:
only_ht_wt

        Height  Weight
Raju        66     140
Pandey      70     148
Srini       62     125
Sunil       68     160
Ashok       62     152

In [39]:
df

        Age   Height  Weight
Raju      22      66     140
Pandey    42      70     148
Srini     30      62     125
Sunil     35      68     160
Ashok     25      62     152

In [40]:
print("\nThe Age column accessed by(DOT) method , not recommended\n " , '-'*45 ,sep='' )
print(df.Age)

The Age column accessed by(DOT) method , not recommended
 ---------------------------------------------

AttributeError: 'DataFrame' object has no attribute 'Age'